<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorate="~{admin/layouts/main}">
<head>
	<title layout:title-pattern="$LAYOUT_TITLE"></title>
</head>
<body>
	<div id="wrapper" layout:fragment="main_content">
		<nav class="navbar navbar-light navbar-expand-md shadow">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">
					<strong>Pixelmon GO</strong>
				</a>
				<span>Админ-панель</span>
				<button class="navbar-toggler" id="sidebarCollapse">
					<span class="sr-only">Показать меню</span>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<div class="nav-item dropdown">
								<a aria-expanded="false" data-toggle="dropdown" class="nav-link" href="#"><img class="profile-image" style="width: 1.5em;height: 1.5em;">
									<span th:text="${@user.name}"></span>
								</a>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" th:href="@{/admin/users/{name}(name=${@user.name})}">
										<i class="fa fa-user fa-fw"></i> Профиль
									</a>
									<div class="dropdown-divider"></div>
									<form id="logout" th:method="POST" th:action="@{/auth/logout}" class="link">
										<button type="submit" class="dropdown-item">
											<i class="fa fa-sign-out-alt fa-fw"></i>
											Выйти
										</button>
									</form>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div id="content-wrapper">
        	<nav id="sidebar">
       			<div id="sidebar-container">
      				<ul id="sidebar-content" class="list-unstyled components">
			            <p>Доступные действия</p>
			            <li id="sidebar-profile">
			            	<a href="#menuProfile" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
			                	<img class="profile-image" style="width: 1.2em;height: 1.2em;">
								<span th:text="${@user.name}"></span>
			                </a>
							<ul class="collapse list-unstyled" id="menuProfile">
			                    <li>
			                        <a th:href="@{/admin/users/{name}(name=${@user.name})}">
			                        	<i class="fa fa-user fa-sm fa-fw"></i>
			                        	Профиль
			                        </a>
			                    </li>
			                    <li>
			                        <form id="logout" th:method="POST" th:action="@{/auth/logout}" class="link">
										<button type="submit">
											<i class="fa fa-sign-out-alt fa-fw"></i>
											Выйти
										</button>
									</form>
			                    </li>
			                </ul>
			            </li>
			            <li th:classappend="${mode == 'main'} ? active">
			                <a th:href="@{/admin}"><i class="fa fa-home fa-fw"></i> Главная</a>
			            </li>
			            <li th:classappend="${mode == 'users'} ? active"
			            	sec:authorize="hasAnyAuthority('admin.panel.users', 'admin.panel.groups')">
			                <a href="#menuUsers" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
			                	<i class="fa fa-user-circle fa-fw"></i>
			                	Пользователи
			                </a>
			                <ul class="collapse list-unstyled" id="menuUsers">
			                    <li sec:authorize="hasAuthority('admin.panel.users')">
			                        <a th:href="@{/admin/users}">
			                        	<i class="fa fa-user fa-fw"></i>
			                        	Управление пользователями
			                        </a>
			                    </li>
			                    <li sec:authorize="hasAuthority('admin.panel.groups')">
			                        <a th:href="@{/admin/groups}">
			                        	<i class="fa fa-users fa-fw"></i>
			                        	Управление группами
			                        </a>
			                    </li>
			                </ul>
			            </li>
			            <li th:classappend="${mode == 'rules'} ? active"
			            	sec:authorize="hasAuthority('admin.panel.rules')">
			                <a th:href="@{/admin/rules}"><i class="fa fa-book fa-fw"></i> Правила</a>
			            </li>
			            <li th:classappend="${mode == 'player_logs'} ? active"
			            	sec:authorize="hasAuthority('admin.panel.playerlogs')">
			                <a th:href="@{/admin/playerlogs}"><i class="fa fa-file fa-fw"></i> Логи игроков</a>
			            </li>
			            <li th:classappend="${mode == 'donate'} ? active"
			            	sec:authorize="hasAuthority('admin.panel.donate')">
			                <a href="#menuDonate" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
			                	<i class="fa fa-shopping-bag fa-fw"></i>
			                	Донат-система
			                </a>
			                <ul class="collapse list-unstyled" id="menuDonate">
			                    <li>
			                        <a th:href="@{/admin/donate/pages}"><i class="fa fa-edit fa-fw"></i> Управление страницами</a>
			                    </li>
			                    <li>
			                        <a th:href="@{/admin/donate/servers}"><i class="fa fa-server fa-fw"></i> Управление серверами</a>
			                    </li>
			                    <li>
			                        <a th:href="@{/admin/donate/balance}"><i class="fa fa-money-bill-alt fa-fw"></i> Управление балансами</a>
			                    </li>
			                    <li>
			                        <a th:href="@{/admin/donate/give}"><i class="fa fa-gift fa-fw"></i> Выдача наборов</a>
			                    </li>
			                    <li>
			                        <a th:href="@{/admin/donate/query}"><i class="fa fa-file fa-fw"></i> Лог донат-системы</a>
			                    </li>
			                </ul>
			            </li>
			            <li th:classappend="${mode == 'monitoring'} ? active"
			            	sec:authorize="hasAuthority('admin.panel.monitoring')">
			                <a th:href="@{/admin/monitoring}"><i class="fa fa-server fa-fw"></i> Мониторинг серверов</a>
			            </li>
			            <li th:classappend="${mode == 'logs'} ? active"
			            	sec:authorize="hasAuthority('admin.panel.logs')">
			                <a th:href="@{/admin/logs}"><i class="fa fa-file fa-fw"></i> Логи админ-панели</a>
			            </li>
			            <li>
			                <a th:href="@{/}"><i class="fa fa-backward fa-fw"></i> Вернуться на сайт</a>
			            </li>
			        </ul>
       			</div>

		    </nav>
		    <div id="content">
        		<section layout:fragment="content"></section>
		    </div>
        </div>

	</div>
</body>
</html>