<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head lang="ru" translate="no">
	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=false">

	<link rel="icon" type="image/png" th:href="@{/static/img/icons/favicon.png}" sizes="16x16">
	<link rel="icon" type="image/png" th:href="@{/static/img/icons/favicon.png}" sizes="32x32">
	<link rel="icon" type="image/png" th:href="@{/static/img/icons/favicon.png}" sizes="96x96">
	<link rel="apple-touch-icon" sizes="120x120" th:href="@{/static/img/icons/favicon.png}">
	<link rel="apple-touch-icon" sizes="180x180" th:href="@{/static/img/icons/favicon.png}">
	<link rel="apple-touch-icon" sizes="152x152" th:href="@{/static/img/icons/favicon.png}">
	<link rel="apple-touch-icon" sizes="167x167" th:href="@{/static/img/icons/favicon.png}">

	<meta http-equiv="cleartype" content="on">

	<meta name="google" content="notranslate">

	<script>const baseUrl = "[[@{/}]]";</script>

	<th:block th:replace="/fragments/jquery :: jquery"></th:block>
	<th:block th:replace="/fragments/bootstrap :: bootstrap"></th:block>
	<th:block th:replace="/fragments/fontawesome :: fa"></th:block>

	<link rel="stylesheet" type="text/css" th:href="@{/static/css/admin.css}" />

	<script type="text/javascript" charset="UTF-8" th:src="@{/static/js/ajax.js}"></script>
	<script type="text/javascript" charset="UTF-8" th:src="@{/static/js/admin/admin.js}"></script>
	<script type="text/javascript" charset="UTF-8" th:src="@{/static/js/confirm.js}"></script>

	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />

	<title>Pixelmon Go</title>
</head>
<body>
	<div th:replace="/admin/fragments/messages :: messages"></div>
	<div layout:fragment="main_content"></div>
</body>
</html>