<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{admin/layouts/content}">
<head>
	<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Группа [[${group.name}]]</title>

</head>
<body>
	<div class="container" layout:fragment="content">
		<div class="card mb-4">
		    <div class="card-header">
		        <span th:if="${group.id == 0}">Создание группы</span>
		        <div th:if="${group.id != 0}">
		        	<span>Изменение группы</span>
		        	<span class="text-secondary float-right"
		        		th:text="|#${group.id}|"></span>
		        </div>
		    </div>
		    <div class="card-body">
	        	<form id="groupForm" th:action="@{''}" th:method="post" th:object="${groupForm}">
					<div class="form-group row">
						<label for="inputName" class="col-sm-3 col-form-label text-truncate">Название</label>
						<div class="col-sm-9">
							<input type="text" class="form-control"
								id="inputName" placeholder="Название группы"
								th:field="*{name}"
								required>
							<div class="alert alert-danger px-3 my-1"
								role="alert"
								th:errors="*{name}"></div>
						</div>
					</div>
					<div class="form-group row">
						<label for="inputName" class="col-sm-3 col-form-label text-truncate">Уровень полномочий</label>
						<div class="col-sm-9">
							<input type="number" class="form-control"
								id="inputName" placeholder="Уровень полномочий"
								th:field="*{permLevel}"
								min="1"
								th:max="${max_perm_level}"
								th:disabled="${group.id == 1}"
								required>
							<small class="text-muted">
								Пользователи не могут управлять группами и пользователями,
								чей уровень полномочий равен или выше чем их
							</small>
						</div>
					</div>
					<hr class="separator">
					<div class="form-group row">
						<div class="col-sm-3 col-form-label text-truncate">Полномочия</div>
						<div class="col-sm-9">
							<small class="form-text text-muted p-1" th:if="${group.id == 1}">
								Группа главного администратора. Всегда имеет все полномочия.
							</small>
							<div th:if="${group.id != 1}">
								<div class="custom-control custom-checkbox"
									th:each="perm : ${permissions}"
									th:with="checkbox_id = 'perm_'+${perm.id},
										canChange = ${own_permissions.contains(perm)},
										checkGroup = ${canChange ? groupForm : group}">
									<input type="checkbox"
										class="custom-control-input"
										th:id="${checkbox_id}"
										th:name="permissions"
										th:value="${perm.id}"
										th:checked="${checkGroup.permissions.contains(perm)}"
										th:disabled="${!canChange}">
									<label class="custom-control-label"
										th:for="${checkbox_id}"
										th:text="${@templateService.printPerm(perm)}"></label>
								</div>
							</div>
						</div>
					</div>
	        	</form>
		    </div>
		    <div class="card-footer" th:if="${can_manage}">
				<button form="groupForm" type="submit" class="btn btn-primary">Применить</button>
				<form class="float-right" th:action="@{''}" th:method="delete" th:if="${group.id > 2}">
					<button type="submit" class="btn btn-danger">Удалить</button>
				</form>
		    </div>
		</div>
		<script th:if="${!can_manage}">
			$("#groupForm :input").prop("disabled", true);
		</script>
	</div>
</body>
</html>