<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{admin/layouts/content}">
<head>
	<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Админ-панель</title>

</head>
<body>
	<div class="container" layout:fragment="content">
		<div class="pb-4">
			<div class="logo-full"></div>
		</div>
		<div class="card">
			<div class="card-body">
				<h1 class="font-weight-bold">
					Админ-панель
				</h1>
				<hr class="separator">
				Панель администратора Pixelmon GO. Выберите действие в меню.
			</div>
		</div>
	</div>
</body>
</html>