<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{admin/layouts/content}">
<head>
	<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Информация о голосованиях в рейтингах</title>

	<th:block th:replace="/fragments/bootstrap :: datepicker"></th:block>

</head>
<body>
	<div class="container" layout:fragment="content">
		<div class="card mb-4">
		    <div class="card-header">
		        Поиск информации о голосовании
		    </div>
		    <div class="card-body">
	        	<form th:method="GET" th:action="''">
		        	<div class="input-group mb-2">
		        		<input type="text" class="form-control"
							placeholder="Ник игрока"
							aria-label="Ник игрока"
							name="search" minlength="3"
							th:value="${search}">
						<div class="input-group-append">
							<button class="btn btn-outline-secondary" type="submit">
								<i class="fa fa-search"></i>
								Поиск
							</button>
						</div>
					</div>
					<div class="form-row mb-0">
		        		<div class="col-md-6">
	        				<div class="input-group mb-2">
	        					<div class="input-group-prepend">
									<label class="input-group-text" for="startTime">Начало</label>
								</div>
				        		<input id="startTime" type="text"
				        			class="form-control date-picker"
				        			placeholder="Начальная дата поиска"
									required>
								<input id="startTimeVal" type="hidden"
									name="start"
									th:value="${start}">
							</div>
	        			</div>
	        			<div class="col-md-6">
	        				<div class="input-group mb-2">
	        					<div class="input-group-prepend">
									<label class="input-group-text" for="endTime">Конец</label>
								</div>
				        		<input id="endTime" type="text"
				        			class="form-control date-picker"
				        			placeholder="Конечная дата поиска"
									required>
								<input id="endTimeVal" type="hidden"
									name="end"
									th:value="${end}">
							</div>
	        			</div>
					</div>
					<div th:if="${ratingHandlers.size() > 1}">
						<span class="pr-2">Рейтинг:</span>
						<div class="form-check form-check-inline">
						  	<input class="form-check-input" type="radio" name="handler"
						  		id="inputVoteSource-all" value="all"
						  		th:checked="${handler == 'all'}?checked">
						  	<label class="form-check-label" for="inputVoteSource-all">
						  		Все
						  	</label>
						</div>
						<div class="form-check form-check-inline"
							th:each="ratingHandler : ${ratingHandlers}"
							th:with="inputId = ${'inputVoteSource' + ratingHandler}">
						  	<input class="form-check-input" type="radio" name="handler"
						  		th:id="${inputId}" th:value="${ratingHandler}"
						  		th:checked="${ratingHandler == handler}?checked">
						  	<label class="form-check-label" th:for="${inputId}"
						  		th:text="${ratingHandler}"></label>
						</div>
					</div>
	        	</form>
		    </div>
		</div>
		<div class="card mb-3">
		    <div class="card-header">
		        Информация о голосованиях в рейтингах
		        <th:block th:if="${votes_count != 0}">
		        	(<span th:text="${votes_count}"></span>)
		        </th:block>

		    </div>
		    <div class="card-body table-responsive p-0">
				<table class="table table-striped m-0" th:if="${votes_count != 0}">
					<thead>
						<tr>
							<th scope="col">Логин</th>
							<th scope="col">Дата</th>
							<th scope="col">Рейтинг</th>
							<th scope="col">Награда</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="vote : ${votes}">
							<td th:text="${vote.userName}"
								th:title="${vote.userName+'#'+vote.userId}"></td>
							<td th:text="${@templateService.printDate(vote.date)}"></td>
							<td th:text="${vote.rating}"></td>
							<td th:text="${vote.reward}"></td>
						</tr>
					</tbody>
				</table>
				<div class="container" th:if="${votes_count == 0}">
					<table class="table" style="min-height: 200px">
						<tbody>
							<tr>
								<td class="align-middle text-center">
									По указанным параметрам не удалось найти ни одного голоса в рейтингах
								</td>
							</tr>
						</tbody>
					</table>
				</div>
		    </div>
		    <div class="card-footer p-1">
		    	<div th:if="${votes_count != 0}">
					<div th:replace="~{admin/fragments/pagination :: pagination}"></div>
				</div>
		    </div>
		</div>
		<script type="text/javascript">
			let pickers = $('.date-picker');
			pickers.datepicker({
				format : 'dd-mm-yyyy',
				autoclose : true,
				language : 'ru'
			});
			pickers.each(function(){
				let p = $(this);
				let isEnd = p.attr('id').includes('end');
				let valIn = $('#'+p.attr('id')+'Val');
				if(valIn) {
					let val = valIn.val();
					if(val){
						if(isEnd) val -= 86400;
						p.datepicker('setDate', new Date(val * 1000));
					}
				}
				p.datepicker().on('changeDate', function(){
					let date = p.datepicker('getDate');
					let val = Math.round(date.getTime()/1000);
					if(isEnd) val += 86400;
					valIn.val(val);
				});
			});
		</script>
	</div>
</body>
</html>