<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{admin/layouts/content}">
<head>
	<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Управление [[${user.name}]]</title>

</head>
<body>
	<div class="container" layout:fragment="content">
		<div class="card mb-4">
		    <div class="card-header">
		        <span>Информация о пользователе</span>
		        <span class="text-secondary float-right"
		        	th:text="|#${user.id}|"></span>
		    </div>
		    <div class="card-body">
	        	<div class="container">
					<div class="row mb-1">
						<div class="col-4">Логин</div>
						<div class="col-8">
							<span th:text="${user.name}"></span>
						</div>
					</div>
					<hr class="separator">
					<div class="row mb-1">
						<div class="col-4">Дата регистрации</div>
						<div class="col-8">
							<span th:text="${@templateService.printUserRegisterDate(user)}"></span>
							<small class="form-text text-muted"
							th:text="|IP: ${user.registrationIp}|"></small>
						</div>
					</div>
					<div class="row mb-1">
						<div class="col-4">Последняя авторизация</div>
						<div class="col-8">
							<span th:text="${@templateService.printUserLastLoginDate(user)}"></span>
							<small class="form-text text-muted"
							th:text="|IP: ${@templateService.printUserLastLoginIp(user)}|"></small>
						</div>
					</div>
				</div>
		    </div>
		</div>
		<div class="card mb-4">
		    <div class="card-header">
		        Изменение пользователя
		    </div>
		    <div class="card-body">
	        	<form id="userForm" th:action="@{''}" th:method="post" th:object="${userForm}" autocomplete="off">
	        		<input id="email" style="display:none" type="email" name="dontrememberthis1">
					<input id="password" style="display:none" type="password" name="dontrememberthis2">
					<div class="form-group row">
						<label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
						<div class="col-sm-10">
							<input type="email" class="form-control"
								id="inputEmail" placeholder="Email"
								autocomplete="new-password"
								th:field="*{email}">
							<div class="alert alert-danger px-3 my-1"
								role="alert"
								th:errors="*{email}"></div>
						</div>
					</div>
					<div class="form-group row">
						<label for="inputGroup" class="col-sm-2 col-form-label">Группа</label>
						<div class="col-sm-10">
							<select class="custom-select form-control" id="inputGroup"
								th:field="*{groupId}">
								<option th:each="group : ${groups}"
									th:value="${group.id}"
									th:text="${group.name}"></option>
							</select>
						</div>
					</div>
					<hr class="separator">
					<div class="form-group row">
						<label for="inputPassword1" class="col-sm-2 col-form-label">Пароль</label>
						<div class="col-sm-10">
							<input type="password" class="form-control"
								id="inputPassword1" placeholder="Новый пароль"
								autocomplete="new-password"
								th:field="*{password}">
						</div>
					</div>
					<div class="form-group row mb-0">
						<label for="inputPassword2" class="col-sm-2 col-form-label"></label>
						<div class="col-sm-10">
							<input type="password" class="form-control"
								id="inputPassword2" placeholder="Повторите пароль"
								autocomplete="new-password"
								th:field="*{passwordRepeat}">
							<div class="alert alert-danger py-1 px-3 my-1"
								role="alert"
								th:errors="*{passwordRepeat}"></div>
						</div>
					</div>
	        	</form>
		    </div>
		    <div class="card-footer">
				<button form="userForm" type="submit" class="btn btn-primary">Применить</button>
				<form class="float-right" th:action="@{''}" th:method="delete" th:if="${user.id != @user.id}">
					<button type="submit" class="btn btn-danger">Удалить</button>
				</form>
		    </div>
		</div>
		<div class="card mb-3">
		    <div class="card-header">
		        История авторизаций
		    </div>
		    <div class="card-body table-responsive p-0" style="max-height: 80vh">
				<table class="table table-striped m-0">
					<thead>
						<tr>
							<th scope="col">Дата</th>
							<th scope="col">IP</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="record : ${user.loginRecords}">
							<td th:text="${@templateService.printDate(record.date)}"></td>
							<td th:text="${record.ip}"></td>
						</tr>
					</tbody>
				</table>
		    </div>
		    <div class="card-footer p-1">
		    </div>
		</div>
	</div>
</body>
</html>