<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head lang="ru" translate="no">
	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

	<link rel="apple-touch-icon" sizes="180x180" th:href="@{/static/img/icons/favicon-180x180.png}">
	<link rel="icon" type="image/png" sizes="32x32" th:href="@{/static/img/icons/favicon-32x32.png}">
	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/static/img/icons/favicon-16x16.png}">
	<link rel="manifest" th:href="@{/static/site.webmanifest}">
	<link rel="mask-icon" th:href="@{/static/img/icons/safari-pinned-tab.svg}" color="#5bbad5">
	<link rel="shortcut icon" th:href="@{/favicon.ico}">
	<meta name="msapplication-TileColor" content="#603cba">
	<meta name="msapplication-config" th:content="@{/static/browserconfig.xml}">
	<meta name="theme-color" content="#ffffff">

	<meta property="vk:image" content="https://pixelmongo.ru/static/img/vk_logo.jpg" />

	<meta name="google" content="notranslate">

	<meta http-equiv="cleartype" content="on">

	<script>const baseUrl = "[[@{/}]]";</script>

	<th:block th:replace="/fragments/jquery :: jquery"></th:block>
	<th:block th:replace="/fragments/bootstrap :: bootstrap"></th:block>
	<th:block th:replace="/fragments/fontawesome :: fa"></th:block>
	<th:block th:replace="/fragments/messages :: headers"></th:block>

	<link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}" />

	<script type="text/javascript" charset="UTF-8" th:src="@{/static/js/ajax.js}"></script>
	<script type="text/javascript" charset="UTF-8" th:src="@{/static/js/confirm.js}"></script>
	<script type="text/javascript" charset="UTF-8" th:src="@{/static/js/main.js}"></script>

	<script type="text/javascript" charset="UTF-8" th:src="@{/static/js/metric.js}"></script>

	<meta th:if="${_csrf}" name="_csrf" th:content="${_csrf.token}" />
	<meta th:if="${_csrf}" name="_csrf_header" th:content="${_csrf.headerName}" />

	<title>Pixelmon Go</title>

	<meta name="keywords" content="Minecraft, Майнкрафт, Pixelmon, Reforged, Pixelmon Go, PixelmonGo, Pokemon, Pokemon Go, Покемоны, Пиксельмон, Пиксельмон Го">

	<meta name="google-site-verification" content="fl0lR0HsNJ0WPMiynRIcWzYUZcNPsqvPBC_RMtFNarg" />

</head>
<body class="bg-balls">
	<div th:replace="/fragments/messages :: block"></div>
	<section layout:fragment="main_content"></section>
</body>
</html>