<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head lang="ru" translate="no">
	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

	<meta name="theme-color" content="#ffffff">

	<th:block th:replace="/fragments/favicons :: icons"></th:block>

	<meta  property="og:image" content="https://pixelmongo.ru/static/img/vk_logo_large.jpg" />
	<meta  property="og:image" content="https://pixelmongo.ru/static/img/vk_logo_little.jpg" />

	<meta name="google" content="notranslate">

	<meta http-equiv="cleartype" content="on">

	<script>const baseUrl = "[[@{/}]]";</script>

	<th:block th:replace="/fragments/jquery :: jquery"></th:block>
	<th:block th:replace="/fragments/bootstrap :: bootstrap"></th:block>
	<th:block th:replace="/fragments/fontawesome :: fa"></th:block>
	<th:block th:replace="/fragments/messages :: headers"></th:block>

	<link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css(v='1')}" />

	<script type="text/javascript" charset="UTF-8" th:src="@{/static/js/ajax.js}"></script>
	<script type="text/javascript" charset="UTF-8" th:src="@{/static/js/confirm.js}"></script>
	<script type="text/javascript" charset="UTF-8" th:src="@{/static/js/main.js(v='1')}"></script>

	<script type="text/javascript" charset="UTF-8" th:src="@{/static/js/metric.js}"></script>

	<meta th:if="${_csrf}" name="_csrf" th:content="${_csrf.token}" />
	<meta th:if="${_csrf}" name="_csrf_header" th:content="${_csrf.headerName}" />

	<title>Pixelmon Go</title>

	<meta name="keywords" content="Minecraft, Майнкрафт, Pixelmon, Reforged, Pixelmon Go, PixelmonGo, Pokemon, Pokemon Go, Покемоны, Пиксельмон, Пиксельмон Го">

	<meta name="google-site-verification" content="fl0lR0HsNJ0WPMiynRIcWzYUZcNPsqvPBC_RMtFNarg" />

</head>
<body class="bg-balls">
	<div th:replace="/fragments/messages :: block"></div>
	<section layout:fragment="main_content"></section>
</body>
</html>