<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	<th:block th:fragment="icons">
		<link rel="apple-touch-icon" sizes="180x180" th:href="@{/static/img/icons/favicon-180x180.png}">
		<link rel="icon" type="image/png" sizes="144x144" th:href="@{/static/img/icons/favicon-144x144.png}">
		<link rel="icon" type="image/png" sizes="96x96" th:href="@{/static/img/icons/favicon-96x96.png}">
		<link rel="icon" type="image/png" sizes="48x48" th:href="@{/static/img/icons/favicon-48x48.png}">
		<link rel="icon" type="image/png" sizes="32x32" th:href="@{/static/img/icons/favicon-32x32.png}">
		<link rel="icon" type="image/png" sizes="16x16" th:href="@{/static/img/icons/favicon-16x16.png}">
		<link rel="manifest" th:href="@{/static/site.webmanifest}">
		<link rel="mask-icon" th:href="@{/static/img/icons/safari-pinned-tab.svg}" color="#5bbad5">
		<link rel="shortcut icon" th:href="@{/favicon.ico}">
		<meta name="msapplication-TileColor" content="#603cba">
		<meta name="msapplication-config" th:content="@{/static/browserconfig.xml}">
	</th:block>

</head>
<body>

</body>
</html>