<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="monitoring">
		<div class="text-center">
			<h4 class="text-pokemon text-shadow"
				style="color: white">Статус серверов</h4>
		</div>
		<div class="monitor-container" >
			<div class="monitor">
				<div class="monitor-full">
					<div class="monitor-full-content">
						<div id="round1" class="monitoring-round monitor-shadow1">
							<div id="round2" class="monitoring-round" style="padding: 10%">
								<div class="monitoring-round moniroring-full-display-container row m-0 align-items-center monitor-shadow2">
							        <div class="col-md-12 p-0 monitor-full-display text-nowrap">0 из 0</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="monitoring"></div>
			</div>
		</div>
		<div id="monitoring-template" style="display: none">
			<div class="monitor-server" data-server-info="name">Загрузка...</div>
			<div class="monitor-scale">
				<div class="invert" data-server-info="fill-percent-invert"></div>
				<div class="front"></div>
				<div class="monitor-display" data-server-info="status">Загрузка...</div>
			</div>


			<div class="line"></div>
		</div>
		<script type="text/javascript" charset="UTF-8" th:src="@{js/monitoring.js}"></script>
	</th:block>

</html>