<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<th:block th:fragment="profile_menu">
		<div class="dropdown" sec:authorize="isAuthenticated()">
			<a aria-expanded="false" data-toggle="dropdown" class="nav-link" href="#">
				<img class="profile-image"
					th:src="${@templateService.avatar}">
				<span th:text="${@user.name}"></span>
			</a>
			<div class="dropdown-menu dropdown-menu-right">
				<a class="dropdown-item" th:href="@{/profile}">
					<i class="fa fa-user fa-fw"></i> Личный кабинет
				</a>
				<a class="dropdown-item" th:href="@{/admin}"
					sec:authorize="hasAuthority('admin.panel.access')">
					<i class="fa fa-star fa-fw"></i> Админ-панель
				</a>
				<div class="dropdown-divider"></div>
				<form id="login-form" th:method="POST" th:action="@{/auth/logout}" class="link">
					<button type="submit" class="dropdown-item">
						<i class="fa fa-sign-out-alt fa-fw"></i>
						Выйти
					</button>
				</form>
			</div>
		</div>
		<a class="nav-link" sec:authorize="isAnonymous()" href="#"
			data-toggle="modal" data-target="#login-modal">
			Вход
		</a>
	</th:block>
	<th:block th:fragment="profile_modal">
		<th:block sec:authorize="isAnonymous()">

			<div id="login-modal" class="modal" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
					    <div class="modal-header">
					      	<h5 class="modal-title">Авторизация</h5>
					      	<button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
					        	<span aria-hidden="true">
					        		<i class="fa fa-times"></i>
								</span>
					      	</button>
					    </div>
					    <div class="modal-body">
					      	<form id="login-form" th:action="@{/auth/login}" th:method="POST">
					      		<div class="form-group row">
					      			<label for="inputLogin" class="col-sm-3 col-form-label text-truncate">Логин</label>
									<div class="col-sm-9">
										<input type="text" class="form-control"
											id="inputLogin" placeholder="Логин"
											name="login"
											required >
									</div>
					      		</div>
					      		<div class="form-group row">
					      			<label for="inputPassword" class="col-sm-3 col-form-label text-truncate">Пароль</label>
									<div class="col-sm-9">
										<input type="password" class="form-control"
											id="inputPassword" placeholder="Пароль"
											name="password"
											required >
									</div>
					      		</div>
					      	</form>
					    </div>
					    <div class="modal-footer">
					      	<button type="submit" form="login-form" class="btn btn-primary btn-block">Войти</button>
					      	<a th:href="@{/register}" class="btn btn-secondary btn-block btn-sm">Регистрация</a>
					    </div>
					</div>
				</div>
			</div>

		</th:block>
	</th:block>
</html>