<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<th:block th:fragment="profile_menu">
		<div class="dropdown" sec:authorize="isAuthenticated()">
			<a aria-expanded="false" data-toggle="dropdown" class="nav-link" href="#">
				<img class="profile-image"
					th:src="@{${@templateService.avatar}}">
				<span class="profile-name" th:text="${@user.name}"></span>
				<th:block th:if="${mode == 'donate'}">
					<span class="text-white text-shadow-rainbow font-weight-bold"
						style="font-size: 0.9em">
						<span class="balance" th:text="${@user.balance}"></span>
						<span class="vault" data-toggle="tooltip" data-placement="bottom" title="Go Point - донат-валюта нашего проекта">GP</span>
					</span>
				</th:block>
			</a>
			<div class="dropdown-menu dropdown-menu-right">
				<a class="dropdown-item" th:href="@{/profile}">
					<i class="fa fa-user fa-fw"></i> Личный кабинет
				</a>
				<a class="dropdown-item" th:href="@{/profile#balance}"
					th:if="${mode == 'donate'}">
					<i class="fa fa-user fa-coins"></i> Пополнить баланс
				</a>
				<a class="dropdown-item" th:href="@{/admin}"
					sec:authorize="hasAuthority('admin.panel.access')">
					<i class="fa fa-star fa-fw"></i> Админ-панель
				</a>
				<div class="dropdown-divider"></div>
				<form id="login-form" th:method="POST" th:action="@{/auth/logout}" class="link">
					<button type="submit" class="dropdown-item">
						<i class="fa fa-sign-out-alt fa-fw"></i>
						Выйти
					</button>
				</form>
			</div>
		</div>
		<a class="nav-link" sec:authorize="isAnonymous()" href="#"
			data-toggle="modal" data-target="#login">
			Вход
		</a>
	</th:block>
	<th:block th:fragment="profile_modal">
		<th:block sec:authorize="isAnonymous()">

			<div id="login" class="modal fade" tabindex="-1" role="dialog">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
					    <div class="modal-header">
					      	<h5 class="modal-title">Авторизация</h5>
					      	<button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
					        	<span aria-hidden="true">
					        		<i class="fa fa-times"></i>
								</span>
					      	</button>
					    </div>
					    <div class="modal-body">
					      	<form id="login-form" th:action="@{/auth/login}" th:method="POST">
					      		<div class="form-group row">
					      			<label for="inputLogin" class="col-sm-3 col-form-label text-truncate">Логин</label>
									<div class="col-sm-9">
										<input type="text" class="form-control"
											id="inputLogin" placeholder="Логин"
											name="login"
											required >
									</div>
					      		</div>
					      		<div class="form-group row">
					      			<label for="inputPassword" class="col-sm-3 col-form-label text-truncate">Пароль</label>
									<div class="col-sm-9">
										<input type="password" class="form-control"
											id="inputPassword" placeholder="Пароль"
											name="password"
											required >
									</div>
					      		</div>
					      		<div class="row" th:if="${!@templateService.rememberMeAuto}">
					      			<div class="col-sm-3"></div>
					      			<div class="col-sm-9">
					      				<div class="custom-control custom-checkbox">
											<input type="checkbox"
												class="custom-control-input"
												id="checkBoxRememberMe"
												th:name="${@templateService.rememberMeParam}"
												checked="checked">
											<label class="custom-control-label"
												for="checkBoxRememberMe">Запомнить на этом устройстве</label>
										</div>
					      			</div>
					      		</div>
					      	</form>
					    </div>
					    <div class="modal-footer">
					      	<button type="submit" form="login-form" class="btn btn-primary btn-block">Войти</button>
					      	<a th:href="@{/register}" class="btn btn-secondary btn-block btn-sm">Регистрация</a>
					      	<a th:href="@{/password}" class="btn btn-secondary btn-block btn-sm">Забыл пароль</a>
					    </div>
					</div>
				</div>
			</div>

		</th:block>
	</th:block>
</html>