<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<th:block th:fragment="minecraftrating">
		<a href="#" data-target="//minecraftrating.ru/projects/pixelmongo/"
			class="btn btn-rating">
			<img src="//minecraftrating.ru/templates/theme/images/widgets/widget_vote.png"
				alt="Голосовать за проект Pixelmon Go"
				data-toggle="tooltip" data-placement="top"
				title="Голосовать на MinecraftRating"
				width="88" height="31" />
		</a>
	</th:block>

	<th:block th:fragment="monitoringminecraft">
		<a href="#" data-target="//monitoringminecraft.ru/top/pixelmongo"
			class="btn btn-rating">
			<img src="//monitoringminecraft.ru/top/pixelmongo/widget1.png"
				alt="Голосовать за проект Pixelmon Go"
				data-toggle="tooltip" data-placement="top"
				title="Голосовать на MonitoringMinecraft"
				width="88" height="31" />
		</a>
	</th:block>

	<th:block th:fragment="mcrate">
		<a href="#" data-target="//mcrate.su/rate/9525"
			class="btn btn-rating">
			<img th:src="@{/static/img/ratings/vote_mcrate.png}"
				alt="Голосовать за проект Pixelmon Go"
				data-toggle="tooltip" data-placement="top"
				title="Голосовать на MCRate"
				width="88" height="31" />
		</a>
	</th:block>

	<th:block th:fragment="topcraft">
		<a href="#" data-target="//topcraft.ru/servers/11579/"
			class="btn btn-rating">
			<img src="https://topcraft.ru/media/projects/11579/tops.png"
				alt="Голосовать за проект Pixelmon Go"
				data-toggle="tooltip" data-placement="top"
				title="Голосовать на TopCraft"
				width="88" height="31" />
		</a>
	</th:block>


</html>