<html xmlns:th="http://www.thymeleaf.org">

	<th:block th:fragment="headers">
		<link rel="stylesheet" type="text/css" th:href="@{/css/skin3d.css}" />
		<script type="text/javascript" charset="UTF-8" th:src="@{/js/skinview3d.js}"></script>
		<script type="text/javascript" charset="UTF-8" th:src="@{/js/skin.js}"></script>
	</th:block>

	<div th:fragment="skin3d(user, width, height)">

		<div id="skin3d" class="skin3d" th:style="|width: ${width}px; height: ${height}px|">
			<noscript>
				<div id="skin2d" class="skin2d">
					<div class="skin" th:style="|background-image: url('${@skinService.getSkinBodyUrlPath(user)}');|"></div>
				</div>
			</noscript>
		</div>
		<script type="text/javascript">
			var skinUrl = "[[${@skinService.getSkinUrlPath(user)}]]";
			var capeUrl = "[[${@skinService.getCapeUrlPath(user)}]]";
			var transparent = "[[${transparent}]]" ? true : false;
			try{
				skin3d.init('skin3d', skinUrl, capeUrl, transparent);
			}catch(e){
				console.log(e);
				var skinBodyUrl = "[[${@skinService.getSkinBodyUrlPath(user)}]]";
				var skin2d = '<div id="skin2d" class="skin2d"><div class="skin" style="background-image: url(\''+skinBodyUrl+'\');"></div></div>';
				$('#skin3d').html(skin2d);
			}
		</script>

	</div>
</html>
