<html xmlns:th="http://www.thymeleaf.org">

	<th:block th:fragment="headers">
		<link rel="stylesheet" type="text/css" th:href="@{/static/css/skin3d.css(v=2)}" />
		<script type="text/javascript" charset="UTF-8" th:src="@{/static/js/skinview3d.js}"></script>
		<script type="text/javascript" charset="UTF-8" th:src="@{/static/js/skin.js(v=2)}"></script>
	</th:block>

	<div th:fragment="skin3d(user, width, height)" th:with="id = ${'skin3d-'+user.id}">

		<div th:id="${id}" class="skin3d" th:style="|width: ${width}px; height: ${height}px|">
			<noscript>
				<div id="skin2d" class="skin2d">
					<div class="skin" th:style="|background-image: url('${@skinService.getSkinBodyUrlPath(user)}');|"></div>
				</div>
			</noscript>
		</div>
		<script type="text/javascript">
			(function(){
				let id = "[[${id}]]";
				let skinUrl = "[[@{${@skinService.getSkinUrlPath(user)}}]]";
				let capeUrl = "[[@{${@skinService.getCapeUrlPath(user)}}]]";
				let skinBodyUrl = "[[@{${@skinService.getSkinBodyUrlPath(user)}}]]";
				let transparent = "[[${transparent}]]" ? true : false;
				skin3d.prepare(id, skinUrl, capeUrl, transparent, skinBodyUrl);
			})();
		</script>

	</div>
</html>
