<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{admin/layouts/content}">
<head>
	<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Логи донат-системы</title>

	<th:block th:replace="/fragments/bootstrap :: datepicker"></th:block>

</head>
<body>
	<div class="container" layout:fragment="content">
		<div class="card mb-4">
		    <div class="card-header">
		        Просмотр логов донат-системы
		    </div>
		    <div class="card-body">
	        	<form th:method="GET" th:action="''">
		        	<div class="input-group mb-2">
		        		<select class="custom-select" id="serverSelect" name="server" required>
							<option value="" selected disabled th:if="${server.id == 0}">
								Выберите сервер
							</option>
							<option th:each="serv : ${servers}"
								th:value="${serv.id}"
								th:text="${serv.displayName}"
								th:selected="${serv.id == server.id}"></option>
						</select>
						<div class="input-group-append">
							<button class="btn btn-outline-secondary" type="submit">
								<i class="fa fa-eye"></i>
								Смотреть
							</button>
						</div>
					</div>
					<div class="form-row mb-0">
		        		<div class="col-md-6">
	        				<div class="input-group mb-2">
	        					<div class="input-group-prepend">
									<label class="input-group-text" for="startTime">Начало</label>
								</div>
				        		<input id="startTime" type="text"
				        			class="form-control date-picker"
				        			placeholder="Начальная дата просмотра"
									required>
								<input id="startTimeVal" type="hidden"
									name="start"
									th:value="${start}">
							</div>
	        			</div>
	        			<div class="col-md-6">
	        				<div class="input-group mb-2">
	        					<div class="input-group-prepend">
									<label class="input-group-text" for="endTime">Конец</label>
								</div>
				        		<input id="endTime" type="text"
				        			class="form-control date-picker"
				        			placeholder="Конечная дата просмотра"
									required>
								<input id="endTimeVal" type="hidden"
									name="end"
									th:value="${end}">
							</div>
	        			</div>
					</div>
	        	</form>
		    </div>
		</div>
		<div class="card mb-4" th:if="${server.id == 0}">
			<div class="card-body">
	        	<div class="row align-items-center" style="min-height: 20vh">
	        		<div class="col text-center text-muted">
	        			Выберите сервер и временной промежуток
	        		</div>
	        	</div>
        	</div>
        </div>
        <th:block th:if="${server.id != 0}">
	        <div class="card mb-4">
	        	<div class="card-body">
	        		<div class="row align-items-center">
		        		<div class="col text-center text-muted">
		        			Потрачено за указанный промежуток:
		        			<span title="Реальных" th:text="${spent_money}"></span>
		        			<span title="Бонусных" th:if="${spent_bonus != 0}"
		        				th:text="${'+ '+spent_bonus}"></span>
		        		</div>
		        	</div>
	        	</div>
        	</div>
        	<div class="card mb-4">
	        	<div class="card-body table-responsive p-0">
					<table class="table table-hover m-0">
						<thead>
							<tr class="text-center">
								<th scope="col">Товар</th>
								<th scope="col">Игрок</th>
								<th scope="col">Дата</th>
								<th scope="col">Дата выдачи</th>
								<th class="col-1" scope="col">Потрачено</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="query : ${queries}"
								th:classappend="|${!query.done ? 'text-muted' : ''} ${query.backQuery ? 'small' : ''}|">
								<td>
									<span class="badge badge-info" data-toggle="tooltip"
										th:attrappend="data-tooltip-id=${'tooltip_'+query.id}">
										<i class="fa fa-terminal"></i>
									</span>
									<div th:id="${'tooltip_'+query.id}" style="display: none" hidden="hidden">
										<p th:each="cmd : ${query.commands}"
											th:text="|/${cmd}|"></p>
									</div>
									<span th:text="${query.title}"></span>
								</td>
								<td th:text="${query.player}"></td>
								<td th:text="${@templateService.printDate(query.executeAfterDate)}"></td>
								<td th:text="${@templateService.printDate(query.dateCompletedDate)}"></td>
								<td>
									<span title="Реальных" th:text="${query.spentMoney}"></span>
									<span title="Бонусных" class="text-muted"
										th:if="${query.spentBonus != 0}"
										th:text="${'+ '+query.spentBonus}"></span>
								</td>
							</tr>
						</tbody>
					</table>
			    </div>
			    <div class="card-footer p-1">
					<div th:replace="~{admin/fragments/pagination :: pagination}"></div>
			    </div>
			</div>
        </th:block>

		<script type="text/javascript">
			let pickers = $('.date-picker');
			pickers.datepicker({
				format : 'dd-mm-yyyy',
				autoclose : true,
				language : 'ru'
			});
			pickers.each(function(){
				let p = $(this);
				let isEnd = p.attr('id').includes('end');
				let valIn = $('#'+p.attr('id')+'Val');
				if(valIn) {
					let val = valIn.val();
					if(val){
						if(isEnd) val -= 86400;
						p.datepicker('setDate', new Date(val * 1000));
					}
				}
				p.datepicker().on('changeDate', function(){
					let date = p.datepicker('getDate');
					let val = Math.round(date.getTime()/1000);
					if(isEnd) val += 86400;
					valIn.val(val);
				});
			});

			$(function(){
				$('*[data-toggle=tooltip]').tooltip({
					placement: 'right',
					html: true,
					title: function(){
						let tid = $(this).attr('data-tooltip-id');
						return $('#'+tid).html();
					}

				});
			});
		</script>
	</div>
</body>
</html>