<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layouts/content}">
<head>
	<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Банлист</title>

	<meta name="description" content="Список забаненных на проекте игроков" />

	<script type="text/javascript" charset="UTF-8" th:src="@{/static/js/banlist.js}"></script>

	<link rel="canonical" th:href="${@templateService.absoluteUrlBase+'banlist'}" />

</head>
<body>
	<div class="container" layout:fragment="content">

		<div class="banlist-header text-center mb-2">
			<img th:src="@{/static/img/banlist_anime1.png}" class="banlist-anime-img gradient-white-block"/>
			<h1 class="text-pokemon text-white text-shadow">Забаненные игроки</h1>
		</div>

		<div class="row justify-content-md-center">

			<div class="col-12 col-lg-9">

				<div class="card mb-3">
				    <div class="card-header">
				        <form th:method="GET">
				        	<div class="input-group">
				        		<input type="text" class="form-control"
									placeholder="Ник игрока"
									aria-label="Ник игрока"
									aria-describedby="basic-addon2"
									minlength="3"
									name="search"
									th:value="${search}">
								<div class="input-group-append">
									<button class="btn btn-outline-secondary" type="submit">
										<i class="fa fa-search"></i>
										Поиск
									</button>
								</div>
							</div>
			        	</form>
				    </div>
				    <div class="card-body p-0">
				    	<div class="banlist-content table-responsive" th:if="${bans_count != 0}">
							<table class="table table-striped m-0">
								<thead>
									<tr>
										<th scope="col">Ник</th>
										<th scope="col">Причина</th>
										<th scope="col">Дата бана</th>
										<th scope="col">Забанен до</th>
										<th scope="col">Забанил</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="ban : ${bans}">
										<td th:text="${ban.player}"></td>
										<td>
											<span th:text="${ban.reason}"></span>
											<span class="ban-proofs"
												th:attrappend="data-ban=${ban.id},
														data-ban-proof=@{${proof.get(ban)}},
														data-ban-proof-upload=${proof.canUpload(ban)},
														data-ban-proof-delete=${proof.canDelete(ban)}"></span>
										</td>
										<td th:text="${@templateService.printDate(ban.date)}"></td>
										<td th:text="${@templateService.printDate(ban.endDate)}"></td>
										<td th:text="${ban.admin}"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="container" th:if="${bans_count == 0}">
							<table class="table" style="min-height: 200px">
								<tbody>
									<tr>
										<td class="align-middle text-center">
											Поиск не дал результатов
										</td>
									</tr>
								</tbody>
							</table>
						</div>
				    </div>
				    <div class="card-footer p-1">
				    	<div th:if="${logs_count != 0}">
							<div th:replace="~{fragments/pagination :: pagination}"></div>
						</div>
				    </div>
				</div>

			</div>

		</div>


	</div>
</body>
</html>