<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layouts/main}">
<head>
	<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE" th:text="${message}">Ошибка</title>
	<meta name="theme-color" content="#090909" />
	<script type="text/javascript" charset="UTF-8" th:src="@{/static/js/error.js}"></script>
</head>
<body>
	<section layout:fragment="main_content">
		<canvas id="error-background"></canvas>
		<div class="error-container">
			<div class="error-content">
				<div class="logo-full"></div>
				<div class="card mb-4">
					<div class="card-body">
						<div class="error-status font-weight-bold">
							<span class="" th:text="${status}">Error</span>
						</div>
						<div class="error-message">
							<span th:text="${message}">Something went wrong</span>
						</div>
					</div>
					<div class="card-footer">
						<a class="btn btn-block btn-primary" th:href="@{/}">На главную</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>