<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layouts/main}">
<head>
	<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE" th:text="${message}">Ошибка</title>

</head>
<body>
	<section layout:fragment="main_content">
		<div class="error_container">
			<div class="error_content">
				<div class="error_status">
					<m2 th:text="${status}">Error</m2>
				</div>
				<div class="error_message">
					<m2 th:text="${message}">Something went wrong</m2>
				</div>
				<div class="menu" style="width: 160px; margin: 0 auto;">
					<a th:href="@{~/}"><p2>На главную</p2></a>
				</div>
			</div>
		</div>
	</section>
</body>
</html>