<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layouts/content}">
<head>
	<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Главная страница</title>

	<meta name="description" content="Проект серверов Minecraft с тематикой покемонов. Мод Pixelmon Reforged и множество уникальных дополнений не дадут вам заскучать.">

</head>
<body>
	<th:block layout:fragment="content">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-4 content-block gradient-white-block">
					<div th:replace="/fragments/monitoring :: monitoring"></div>
				</div>
				<div class="col-md-8 content-block gradient-white-block">
					<div class="text-center mb-4">
						<h1 class="text-pokemon">Pixelmon GO</h1>
						<p class="font-weight-bold">
							Начни свой путь тренера покемонов прямо сейчас!
						</p>
					</div>
					<p>
						Здравствуйте дорогие наши искатели приключений! Надоело однотипное выживание в Minecraft с покемонами?
						Не беда! Возможно, наш проект сможет вас заинтересовать.
					</p>
					<p>
						Pixelmon GO - это новый проект, который будет вас удивлять и радовать.
						Давайте вместе изучать этот прекрасный мир с модификацией Pixelmon Reforged.
					</p>
					<p>
						Вашему вниманию хотим представить сервер Pixelmon Galaxy!
					</p>
					<ul>
						<li>Интересный геймплей, который не даст заскучать.</li>
						<li>Множество уникальных дополнений.</li>
						<li>Турниры и ивенты.</li>
						<li>Интересный сюжет.</li>
						<li>Покеохота.</li>
						<li>Уникальное мероприятие - чемпионат покемонов!</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="background-moving-container gradient-white-center">
			<div class="background-moving-container2">
				<div class="background-moving"></div>
			</div>
			<div class="container">
				<div class="row align-items-center">
					<div class="col-md-6 col-lg-8 p-2 text-white">
						<div class="soc-text">
							<h3>Присоединяйтейсь!</h3>
							<p>
								Чтобы всегда быть в курсе последних событий проекта Пиксельмон Го и полноценно взаимодействовать с его сообществом,
								мы рекомендуем следить за нашими каналами в социальных сетях.
							</p>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 p-2 text-white">
						<div class="bg-dark rounded shadow mx-auto" style="max-width: 320px">
							<iframe src="https://discord.com/widget?id=871836414772383774&theme=dark"
								class="mx-auto" style="height: 380px; width: 100%"
								allowtransparency="true" frameborder="0"
								sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
							<a th:href="@{https://vk.com/pixelmongo}"
								class="btn btn-block btn-vk" target="_blank">
								<i class="fab fa-vk"></i>
								Группа ВКонтакте
							</a>
							<a th:href="@{https://www.youtube.com/channel/UCEu0uXYP4uU68bbrJgHePYw}"
								class="btn btn-block btn-youtube" target="_blank">
								<i class="fab fa-youtube"></i>
								Канал на YouTube
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>


	</th:block>
</body>
</html>