<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layouts/content}">
<head>

	<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Восстановление пароля</title>

	<meta name="description" content="Восстановление забытого пароля пользователя">

</head>
<body>
	<div class="container" layout:fragment="content">

		<div class="password-header text-center mb-2">
			<img th:src="@{/static/img/password_anime1.png}" class="password-anime-img gradient-white-block"/>
			<h1 class="text-pokemon text-white text-shadow">Восстановление пароля</h1>
		</div>

		<div class="row justify-content-md-center">

			<div class="col-12 col-md-9 col-xl-8">

				<div class="card mb-3">
				    <div class="card-body table-responsive">
						<form id="password-change-form" th:action="@{/password}" th:method="POST" th:object="${passwordForm}">
							<input type="hidden" name="key" th:value="${key}" >
							<div class="form-group row">
								<label for="inputPassword1" class="col-4 col-form-label">Новый пароль</label>
								<div class="col-8">
									<input id="inputPassword1" th:field="*{password}" type="password" class="form-control"
										placeholder="Пароль" maxlength="32" pattern=".{6,32}" required />
									<div class="alert alert-danger px-3 my-1"
										role="alert"
										th:errors="*{password}"></div>
								</div>
							</div>
							<div class="form-group row">
								<label for="inputPassword2" class="col-4 col-form-label">Повторите пароль</label>
								<div class="col-8">
									<input id="inputPassword2" th:field="*{passwordRepeat}" type="password" class="form-control"
										placeholder="Пароль" maxlength="32" pattern=".{6,32}" required />
									<div class="alert alert-danger px-3 my-1"
										role="alert"
										th:errors="*{passwordRepeat}"></div>
								</div>
							</div>
							<div class="alert alert-danger px-3 my-1"
								role="alert"
								th:errors="${passwordForm}"></div>
						</form>
				    </div>
				    <div class="card-footer p-1">
				    	<button form="password-change-form" type="submit" class="btn btn-block btn-primary">
				    		Изменить пароль
				    	</button>
				    </div>
				</div>

			</div>

		</div>


	</div>
</body>
</html>