<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layouts/content}">
<head>

	<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Восстановление пароля</title>

</head>
<body>
	<div class="container" layout:fragment="content">
		<script th:src="|//www.google.com/recaptcha/api.js|"></script>

		<div class="password-header text-center mb-4">
			<img th:src="@{/img/password_anime1.png}" class="password-anime-img gradient-white-block"/>
			<h1 class="text-pokemon text-white text-shadow">Восстановление пароля</h1>
		</div>

		<div class="row justify-content-md-center">

			<div class="col-12 col-md-9 col-xl-8">

				<div class="card mb-3">
				    <div class="card-body table-responsive">
						<form id="password-remind-form" th:action="@{''}" th:method="POST">
							<div class="form-group row">
								<label for="inputEmail" class="col-4 col-form-label">Почта</label>
								<div class="col-8">
									<input id="inputEmail" name="email" th:value="${email}" type="email" class="form-control"
										placeholder="E-mail" maxlength="128" required>
									<small class="text-muted">Адрес электронной почты, к которой привязан аккаунт</small>
								</div>
							</div>
							<div class="alert alert-danger px-3 my-1"
								role="alert" th:each="error: ${errors}"
								th:text="${error}"></div>
							<div class="form-group row">
								<div class="col-lg-4 col-md-12 pb-2">Проверка на робота</div>
								<div class="col-lg-8 col-md-12">
									<div class="g-recaptcha mx-auto" th:attr="data-sitekey=${@captchaService.getPublicKey()}"></div>

								</div>
							</div>
						</form>
				    </div>
				    <div class="card-footer p-1">
				    	<button form="password-remind-form" type="submit" class="btn btn-block btn-primary">
				    		Восстановить пароль
				    	</button>
				    </div>
				</div>

			</div>

		</div>


	</div>
</body>
</html>