<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{mail/layout}">
<head>
	<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE" th:text="${title}"></title>

</head>
<body>
	<div layout:fragment="content">
		<div>
			<h2>Привет, <span th:text="${confirm.userName}"></span>!</h2>
			<p>
				Это письмо было отправлено для восстановления пароля от аккаунта
				на проекте <a th:href="${baseUrl}">Pixelmon GO</a>.
			</p>
			<p>
				Если вы желаете продожить процедуру восстановления, нажмите по кнопке ниже.
			</p>
		</div>
		<div class="text-center">
			<a class="btn" th:href="${link}">Восстановить пароль</a>
		</div>
	</div>
</body>
</html>