<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block  th:fragment="headers">
		<!-- Froala -->
		<link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/3.2.7/css/froala_editor.min.css' rel='stylesheet' type='text/css' />
		<link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/3.2.7/css/plugins/colors.min.css' rel='stylesheet' type='text/css' />
		<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/3.2.7/js/froala_editor.min.js'></script>
		<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/3.2.7/js/plugins/font_family.min.js'></script>
		<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/3.2.7/js/plugins/font_size.min.js'></script>
		<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/3.2.7/js/plugins/lists.min.js'></script>
		<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/3.2.7/js/plugins/align.min.js'></script>
		<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/3.2.7/js/plugins/colors.min.js'></script>
		<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/3.2.7/js/plugins/link.min.js'></script>
		<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/3.2.7/js/languages/ru.min.js'></script>
	</th:block>
</head>
<body>
	<script th:fragment="script_buttons">
		var froalaButtons = {
				'moreText': {
				  	'buttons': ['bold', 'italic', 'underline',
				  		'strikeThrough', 'subscript', 'superscript',
				  		'fontFamily', 'fontSize', 'textColor',
				  		'backgroundColor', 'clearFormatting']
				},
				'moreParagraph': {
				  	'buttons': ['alignLeft', 'alignCenter',
				  		'formatOLSimple', 'alignRight', 'alignJustify',
				  		'formatOL', 'formatUL', 'paragraphFormat',
				  		'paragraphStyle', 'lineHeight',
				  		'outdent', 'indent']
				},
				'moreRich': {
				  	'buttons': ['insertLink', 'insertHR']
				},
				'moreMisc': {
					  'buttons': ['undo', 'redo'],
					  'align': 'right',
					  'buttonsVisible': 2
				}
			};
	</script>
</body>
</html>